//fonts
@font-face {
    font-family: Dhurjati;
    src: url(../Fonts/Dhurjati-Regular.ttf);
}

@font-face {
    font-family: Doppio One;
    src: url(../Fonts/DoppioOne-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../Fonts/Quicksand-VariableFont_wght.ttf);
}
//

html{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
}