@font-face {
  font-family: Dhurjati;
  src: url(./Fonts/Dhurjati-Regular.ttf);
}
@font-face {
  font-family: Doppio One;
  src: url(./Fonts/DoppioOne-Regular.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(./Fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./Fonts/Montserrat-VariableFont_wght.ttf);
}
html {
  font-size: 10px;
}

body, .elem1__text > p, .description__square > p {
  margin: 0;
  padding: 0;
}

.main .main__bg {
  width: 100vw;
  background: url(./img/main/bg.png) 0 0/100% 100% no-repeat;
}
.main .main__nav {
  padding: 56px 100px 125px 100px;
  display: flex;
  justify-content: space-between;
}
.main .main__nav .nav__elem1 {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.main .main__nav .nav__elem1 .elem1__text .elem1__text1 {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 2rem;
  line-height: 20px;
  color: #0897AB;
  padding-left: 10px;
  padding-top: 5px;
  text-transform: uppercase;
}
.main .main__nav .nav__elem1 .elem1__text .elem1__text2 {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 2rem;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 34px;
  text-transform: uppercase;
}
.main .main__nav .nav__elem2 {
  display: flex;
  align-items: center;
  gap: 53px;
}
.main .main__nav .nav__elem2 .elem2__searchContainer {
  background: url(./img/main/magnifier.svg) 29px 18px no-repeat;
}
.main .main__nav .nav__elem2 .elem2__searchContainer .elem2__search {
  padding: 15px 0 15px 65px;
  width: 250px;
  font-family: "Doppio One";
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.58);
  background: rgba(40, 40, 52, 0.01);
  border: 2px solid #0897AB;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.52);
  border-radius: 75px;
}
.main .main__nav .nav__elem2 .elem2__bin {
  background: url(./img/main/bin.svg) no-repeat;
  width: 47px;
  height: 44px;
  text-align: center;
  position: relative;
}
.main .main__nav .nav__elem2 .elem2__bin .elem2__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #0897AB;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 27px;
  left: 25px;
}
.main .main__description {
  padding: 100px 67px 10% 10%;
  margin: 0 680px 0 0;
  position: relative;
  z-index: 0;
  bottom: 100px;
  right: 30px;
}
.main .main__description .description__square .description__imgContainer {
  position: absolute;
  z-index: -1;
  margin: -100px 0 0 -75px;
}
.main .main__description .description__square .description__imgContainer .description__img {
  width: 800px;
}
.main .main__description .description__square .description__buttonContainer {
  display: inline-block;
}
.main .main__description .description__square .description__h1 {
  font-family: "Doppio One";
  font-weight: 400;
  font-size: 4.8rem;
  color: #FFFFFF;
}
.main .main__description .description__square .description__text {
  width: 650px;
  font-family: "Doppio One";
  font-weight: 400;
  font-size: 2rem;
  line-height: 157%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.main .main__description .description__square .description__text::first-letter {
  padding-left: 15px;
}
.main .main__description .description__square .description__button {
  font-family: "Doppio One";
  font-weight: 400;
  font-size: 2rem;
  color: #FFFFFF;
  padding: 20px 62px;
  -webkit-clip-path: polygon(15% 0%, 95% 0, 100% 20%, 100% 85%, 100% 100%, 5% 100%, 0 80%, 0 0);
          clip-path: polygon(15% 0%, 95% 0, 100% 20%, 100% 85%, 100% 100%, 5% 100%, 0 80%, 0 0);
  background-color: #0897AB;
}
.main .main__description .description__square .description__link {
  text-decoration: none;
}

.HU-2-1 .HU-2-1__container {
  padding: 2.6rem 9.7rem;
  display: flex;
  justify-content: space-between;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item1 {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item1 .HU-2-1__logoText {
  padding-left: 1rem;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item1 .HU-2-1__logoText .HU-2-1__logoText1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #0897AB;
  margin: 0;
  text-transform: uppercase;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item1 .HU-2-1__logoText .HU-2-1__logoText2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
  padding-left: 3rem;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item2 {
  display: flex;
  align-items: center;
  gap: 5.3rem;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item2 .HU-2-1__searchContainer {
  background: url(./img/HU-2-1/magnifier.svg) 2.9rem 1.8rem no-repeat;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item2 .HU-2-1__searchContainer .HU-2-1__search {
  padding: 1.5rem 8rem 1.5rem 6.5rem;
  font-family: "Doppio One";
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(40, 40, 52);
  background: rgba(40, 40, 52, 0.01);
  border: 0.2rem solid #FAFAFA;
  box-shadow: 3.8rem rgba(0, 0, 0, 0.52);
  border-radius: 7.5rem;
  outline: none;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item2 .HU-2-1__sortContainer {
  background-color: #009ED6;
  padding: 2rem;
  border-radius: 5rem;
}
.HU-2-1 .HU-2-1__container .HU-2-1__item2 .HU-2-1__bin {
  text-align: center;
  position: relative;
}/*# sourceMappingURL=style.css.map */